#filter {
	margin-top: 2%;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	width: 500px;
}

#fieldContainer {
	height: 45vw;
	margin: 5%;
	margin-left: 22%
}

#passScrollbarContainer {
	border: 2px solid black;
	width: 13vw;
	height: 41vw;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #007DC3;
	float: left;
}

#passScrollbarTitle	{
	width: 100%;
	height: 5%;
	margin: auto;
	
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	line-height: 5%; 
}

#passScrollbar {
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #000;
	color: #FFF;
	
	width: 100%;
	height: 95%;
	padding: 1%;
}

#field {
	float: left;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	margin: 5px;
    background: #007DC3;
    width: 200px;
    padding: 5px;
    font-size: 18px;
    color: white;
    border: 2px solid #000;
    height: 50px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}