#passScrollbarContainer {
	border: 2px solid black;
	width: 600px;
	height: 600px;
	font-family: "Exo";
	background-color: #007DC3;

	margin-left: 5%;
	margin-top: 5%;
}

#passScrollbarTitle	{
	width: 100%;
	height: 5%;
	margin: auto;
	
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	line-height: 5%; 
}

#passScrollbar {
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #000;
	color: #FFF;
	
	width: 99%;
	height: 91%;
	padding-left: 1%;
}